

<!DOCTYPE html>
<html lang='en'>
     <head>
          <meta charset='utf-8' />
          <title>RouteOut</title>
          <meta name='viewport' content='width=device-width, initial-scale=1' />
          <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
          <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />

          <!-- Favicon -->
          <link rel="icon" type="image/png" href="../static/favicon-16x16.png" sizes="16x16" />
          <link rel="icon" type="image/png" href="../static/favicon-32x32.png" sizes="32x32" />

          <link id="theme" rel="stylesheet" type="text/css" href="../static/style.css" />
          <link href="//db.onlinewebfonts.com/c/6650021ca0704cba7b377bf4c0bbe673?family=DSariW01-Heavy" rel="stylesheet" type="text/css"/>
          <script src="../static/accessibility.js"></script>
          <script>chooseTheme()</script>
     </head>
     <body>
          <div class = "nav">
               <a class = "logo" href="/" ><img class = "logoImage" src="../static/logo.png"></a>
               <a class = "home" href="/" >Home</a>
               <a class = "plan" href="/plan" >Plan</a>
               <button class = "acb" onclick="change();">
                    <img class = "acbImage" src="../static/enlargement.png">
               </button>
          </div>
          <div id='map'></div>

          <div id = 'activities'>
               List of activities will go here.
               <ul id="dynamic-list"></ul>
               

          </div>

          

          <!-- <div class="tab">
               <button class="tablinks" onclick="openActivities(event, 'Activity1')">Activity1</button>
               <button class="tablinks" onclick="openActivities(event, 'Activity2')">Activity2</button>
               <button class="tablinks" onclick="openActivities(event, 'Activity3')">Activity3</button>
          </div>
          
          <div id="Activity1" class="tabcontent">
               <h3>Activity1</h3>
               <p>Activity1 activities list</p>
          </div>
          
          <div id="Activity2" class="tabcontent">
               <h3>Activity2</h3>
               <p>Activity2 activities list</p> 
          </div>
          
          <div id="Activity3" class="tabcontent">
               <h3>Activity3</h3>
               <p>Activity3 activities list</p>
               <h1 id = "testhere"></h1>
          </div> -->
          <script type="text/javascript" src="{{ url_for('static', filename='javas2.js')}}"></script>
     </body>
</html>